.clickbtn{
    width: 250px ;
}

.myContainer{
    min-height: 100vh;

    display: flex;
    justify-content: space-between !important ;
}


.mySlider{
    height: 400px;
}

.mySlider img{
    width: 100%;
    height: 400px ;
}