*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.box1{
    background-color: red;
    width: 200px;
    height: 200px;
}

.box2{
    background-color: blue;
    width: 200px;
    height: 200px;
    /* position: relative;
    left: 50px;
    top: 100px;
    z-index: -1; */
    position: fixed;
    top: 0;    
    right: 0;

}

.box3{
    background-color: green;
    width: 200px;
    height: 200px;
}


.header{
    border: 1px solid red;
    width: 100%;
    /*position: fixed; leave its space*/
    /* position: fixed; */

    /*position: sticky; does not leave its space*/
    position: sticky;
    top: 0;
    background-color: red;
}


.imgParent{
    display: flex;
    justify-content: center; 
    border: 1px solid red;
    /* text-align: center; */
    width: 100%;
}
.carImg{
    width: 500px;
    height: 300px;
    border: 1px solid red;
    display: block;
    margin:0 auto;
    background-color: red;
}


.bgImg{
    
    width: 100%;
    height: 500px;
    background-image:  url("./Images/car1.jpeg") ;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.multiColor{
    height: 400px;
    background-color: red;

    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #0f9b0f, lightskyblue,#000000); */
    cursor: pointer; 
    
    /*uiGradients website*/
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.heading1{
    color: orange;
}

.newHeading2{
    background-color: lightcoral;
}