/* h1{
    background-color: red;
} */

/*Child selector  (will apply on all actaual child p tags inside it)*/
.parentBox > p{
    color: red;
}

/*Descendant selector (will apply on all p tags inside it)*/
.parentBox  p{
    color: red;
}

/*Multi Selector*/
.parentBox  p , .parentBox h1{
    color: red;
}

.orderList{
    background-color: red;
    /*will show listing numbers or bullets inside list (By default outside)*/
    list-style-position: inside; 
    /*Listing type*/
    list-style-type:decimal-leading-zero;
}

.orderList > li{
    background-color: orange;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myTable{
    width: 100%;
    border: 1px solid black; 
    /*Work same as padding for table*/
    border-spacing: 20px;
    empty-cells: hide;
    /*border-collapse property will be restrict border-spacing*/
    border-collapse: collapse;
}

/* .myTable td{
    border: 1px solid red;
    padding: 10px;
}  */

.tableParent{
    padding: 0 20px;
    /* border: 1px solid red; */
}

.myTable td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
}



.myTable thead tr{
    background-color: gray;
}

.myTable tbody tr{
    background-color: lightseagreen;
}

.myTable tbody td:hover{
    background-color: blue;
}

.myTable tbody tr:hover{
    background-color: lightgrey;
}

.heading2{
    /*Position relative (from its original postition)*/
    /* position: relative;
    left: 30px;
    top: 30px; */

    background-color: red;
    /*Position absolute (from body and it release its origninal place and other container
    will take its original position)*/
    position: absolute;
    top: 50px;
    right: 30px;
    /* bottom: 0;
    left: 0; */
    /* left: 30px; */
    


    /* left: ; */
    /* right: 0;
    top: 0;
    bottom: 0; */

    /* left:  px; */
}


.iconParent{
    border: 1px solid red;
    position: relative;
    height: 100px;
}

.icon{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 0; */
    top: 0;
    right: 0;
    cursor: pointer;
}
