*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position:fixed;
    z-index: 99;
}

.proImagediv , .proImagediv2, .giftImagediv{
    width: 100%;
    height: 600px;
    /* height: auto; */
    /* overflow-x:hidden; */
    position: relative;
    cursor: pointer;
    
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    
    /* top:50%; */
    /* right: 0; */ 
}

.giftImagesubdiv
.proImagesubdiv2
.proImagesubdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 600px;
}

.proImagediv img ,.proImagediv2 img,.giftImagediv img{
    width: 100%;
    height: 600px;
    /* height: 100%; */
    object-fit: cover;
    /* overflow:hidden; */
    /* filter: brightness(1.1) contrast(1.2) sharpen(1);     */
}

.proImagediv .proImageHeading ,.proImagediv2 .proImageHeading2{
    position: absolute;
    color: white;
    left: 38%;
    top: 8%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* top: 50px;
    right: 100px; */
}

.giftImagediv .giftImageHeading{
    position: absolute;
    color: black;
    left: 35%;
    top: 60%;
    text-align: center;
}

.proImagediv .proImageHeading h1 ,.proImagediv2 .proImageHeading2 h1,.giftImagediv .giftImageHeading h1{
    font-size:50px;
}

.proImagediv .proImageHeading h3 ,.proImagediv2 .proImageHeading2 h3,.giftImagediv .giftImageHeading h3{
    font-size:25px;
}

.proImagediv .proImageHeading .proImageHeadingButton ,
.proImagediv2 .proImageHeading2 .proImageHeadingButton,
.giftImagediv .giftImageHeading .giftImageHeadingButton{
    margin-top: 10px;
}

.shopgiftbutton{
    height: 45px;
    width:120px;
    border: none;
    color: white;
    background-color: #0071e3;
    border-radius: 25px;
    cursor: pointer;
}

.learnbutton{
    height: 45px;
    width:150px;
    border: none;
    color: white;
    background-color: #0071e3;
    border-radius: 25px;
    cursor: pointer;
}

.buybutton{
    height: 45px;
    width:90px;
    color: #0071e3;
    border: 1px solid #0071e3;
    background-color: transparent;
    border-radius: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.buybutton:hover{
    color: white;
    background-color: #0071e3;
}

.proImagediv2 , .giftImagediv{
    margin-top: 10px;
}

.ipadImagediv{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.ipadImagediv .ipadChildImagediv1{
    flex: 1;
    /* width: 100%; */
    /* height: 620px; */
    height: auto;
    position: relative;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    /* justify-content: center; */
    /* align-items: center; */
    
    /* top:50%; */
    /* right: 0; */
}

.ipadImagediv .ipadChildImagediv2{
    flex: 1;
    /* width: 100%; */
    /* height: 620px; */
    height: auto;
    position: relative;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    /* justify-content: center; */
    /* align-items: center; */
    
    /* top:50%; */
    /* right: 0; */
}

.ipadChildImagediv1 > img ,.ipadChildImagediv2 > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(1.1) contrast(1.2) sharpen(1);
    
}

.ipadChildImagediv1 .ipadImageHeading1 {
    position: absolute;
    color: black;
    left: 30%;
    top: 10%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* top: 50px;
    right: 100px; */
}

.ipadImageHeadingButton{
    margin-top: 10px;
}

.ipadChildImagediv2 .ipadImageHeading2 {
    position: absolute;
    color: white;
    left: 25%;
    top: 75%;
    text-align: center;
}

.ipadImageHeading1 > img{
   background-color: transparent;
}

.watchMacbookImagediv{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.watchMacbookImagediv .watchImagediv{
    flex: 1;
    height: auto;
    position: relative;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.watchMacbookImagediv .MacbookImagediv{
    flex: 1;
    height: auto;
    position: relative;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.watchImagediv > img ,.MacbookImagediv > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(1.1) contrast(1.2) sharpen(1);   
}

.watchImagediv .watchImageHeading{
    position: absolute;
    color: black;
    left: 30%;
    top: 10%;
    text-align: center;
}

.MacbookImagediv .MacbookImageHeading{
    position: absolute;
    color: black;
    left: 30%;
    top: 10%;
    text-align: center;
    color: white;
}

.watchImageHeading img{
    height: 60px;
    width: 150px;
}

.watchImageHeadingButton, .MacbookImageHeadingButton{
    margin-top: 10px;
}

.TradeinCardImagediv{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.TradeinCardImagediv .TradeinImagediv{
    flex: 1;
    height: auto;
    position: relative;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.TradeinCardImagediv .CardImagediv{
    flex: 1;
    height: auto;
    position: relative;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}


.TradeinImagediv > img ,.CardImagediv > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(1.1) contrast(1.2) sharpen(1);   
}

.TradeinImagediv .TradeinImageHeading{
    position: absolute;
    color: black;
    left: 30%;
    top: 10%;
    text-align: center;
}

.CardImagediv .CardImageHeading{
    position: absolute;
    color: black;
    left: 30%;
    top: 10%;
    text-align: center;
    color: white;
}

.TradeinImageHeading img{
    height: 40px;
    width: 160px;
}

.CardImageHeading img{
    height: 40px;
    width: 130px;
}

.TradeinImageHeading h3, .CardImageHeading h3{
    margin-top: 5px;
   color: black;
}

.TradeinImageHeadingButton, .CardImageHeadingButton{
    margin-top: 10px;
}

.imagesDiv{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.imagesDiv img{
    width: 49%;
    height: auto;
    margin-left: 5px;
}

.imagesDiv1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.imagesDiv1 img{
    width: 24%;
    height: auto;
    margin-left: 5px;
}

.footer{
    width: 100%;
    height: 1200px;
    /* padding: 10px auto; */
    background-color: #f5f5f7;
}

.para{
    width: 80%;
    /* height: 100%; */
    margin: 20px auto;
    color: #b5b5b6;
}

.paralist{
    display: flex;
    justify-content:space-between;
    /* color: black; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.paralist ul{
    list-style: none;
    /* margin-left: 100px; */
}

.paralist ul .noboldlist{
    margin-top: 10px;
    color: #b5b5b6;
}

.paralist ul .noboldlist:hover{
    text-decoration: underline;
    cursor: pointer;
}

.paralist ul .boldlist{
    font-weight: bold;
    margin: 10px 0;
    color: rgba(0,0,0,0.6);
}

.footerMorepara{
    color: #0071e3;
    text-decoration: underline;
    cursor: pointer;
}

.copyright_unitedstatespara{
    display: flex;
    justify-content: space-between;
}

.copyright_unitedstatespara ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

.copyright_unitedstatespara ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.copyright_unitedstatespara .unitedstatespara:hover{
    text-decoration: underline;
    cursor: pointer;
}