body{
    margin-top: 0px;
}
.formheader{
    width: 85%;
    /* min-width: 265px; */
    margin : 0px auto;
}


.formheader
.header{
    margin : 0px auto;
    /* background-image: url("./Images/bg.jpg"), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-size:cover;
    background-size:contain;
    background-repeat:repeat;
    background-position:top;
    background-attachment:fixed;  */
    /* background-color: lightblue; */
    background-color: rgba(52, 145, 91, 0.4);
    /* opacity: 0.5; */
    /* color:rgb(9, 125, 179); */
    width: 100%;
    height: 190px;
}

.formheader
.header
.divlogo{ 
    margin : 0px auto;
    width: 100%;
    /* height: 50px; */
    /* background-color: rgb(240, 238, 238); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.formheader
.header
.divlogo
img{ 
    width: 25%;
}

.formheader
.header
.divheading{
    margin: 0px auto;
    width: 85%;
}

.divheading
a,
.divheading
h1,
.divheading
button{
    display: inline-block;
}

.divheading
a{
    margin-left: 2%;
}

.divheading
h1{
    margin-left: 13%;
    color: black;
}

.divheading
p{
    color: black;
}

.divheading
button{
    margin-left: 13%;
    width: 150px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 15px;
    cursor: pointer;
}

.divheading
a 
img{
    width: 30px;
    height: 30px;
}

.divheading
p{
    margin: 0px auto;
    text-align: center;
}

.formheader
.headerlinks{
    height: 40px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.formheader
.headerlinks
a{
    text-decoration: none;
}

.formheader
.headerlinks
a:focus{
    color: black;
}

.formheader
.headerlinks
.blank1{
    border-top: none;
    border-right: none;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 38%;
    height: 100%;
    background-color: white;
}

.formheader
.headerlinks
.registration{
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 90px;
    height: 100%;
    cursor: pointer;
    background-color: white;
    color:rgb(9, 125, 179);
}

.formheader
.headerlinks
.downloadIDCard{
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: none;
    border-bottom: 1px solid lightgray;
    width: 140px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color:rgb(9, 125, 179);
}

/* .formheader
.headerlinks
.downloadIDCard
a{
    width: 100%;
    height: 100%;
} */

.formheader
.headerlinks
.results{
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: none;
    border-bottom: none;
    width: 100px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: rgb(75, 240, 75);
}

/* .formheader
.headerlinks
.results
a{
    width: 100%;
    height: 100%;
} */

.formheader
.headerlinks
.blank2{
    border-top: none;
    border-right: none;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: none;
    width: 35%;
    height: 100%;
    background-color: white;
}


#divForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

#divForm
form
input{
    width: 550px;
    height: 50px;
    border: 1px solid rgb(31, 175, 31);
    border-radius: 5px;
    margin-top: 5px;
}

#divForm
form
input:focus{
    /* border: 0.1px solid; */
    outline-color:rgb(9, 125, 179);
}

#divForm
form
label{
    /* color: rgba(52, 52, 230, 0.719); */
    color: rgb(9, 125, 179);
}

#divForm
form
button{
    color: white;
    background-color: rgb(9, 125, 179);
    width: 554px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}