*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background: red;
    /* width: 50%; */

    /* width: 500px; */
    /* width: 50%; */
    max-width: 500px;
    text-align: center;
    min-width: 250px;
    /* height: 300px; */

    /* max-height: 300px; */
    /* overflow: hidden; */
    /* overflow: auto; */

    min-height: 300px;
    border: 2px solid black;
    padding: 50px 30px;
    margin: 20px 30px;
}

.heading2 {
    background-color: red;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
    width: 60%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 50px auto;
}


.box1 {
    background-color: red;
    display: inline-block;
    width: 28%;
    /* box-shadow: 20px 20px 10px black  ; */
    box-shadow: 10px 5px 10px black  ;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
}

.box2 {
    display: inline-block;
    background-color: green;
    width: 40%;
    /* display: none; */
    visibility: hidden;
}

.box3 {
    display: inline-block;
    background-color: blue;
    width: 28%;
    box-shadow: 10px 5px 10px black;
    /* display: none; */
}




.box10 {
    background-color: red;
    /* width: 50%; */
    width: 200px;
}

.box20 {
    background-color: orange;
    /* width: 50%; */
    width: 450px;


}


.box30 {
    background-color: purple;
    width: 200px;
}

.parent{
    display: flex;

    /*For centre of left and right*/
    justify-content: center; 

    /* height: 500px; */
    /* background-color: green; */

    /*For centre of top and bottom*/
    /* align-items: center; */

    /*To restrict to take parent height*/
    /* align-items: baseline; */

    /*First content on left, last on right and between other equal space*/
     /* justify-content: space-between; */

    /*Every content will take same apce from left and right*/
    /* justify-content: space-around; */

    /*Same space on sart and end of parent and same space between all childs*/
    /* justify-content: space-evenly; */

    /*To start content from left. By default content is start from left*/
    /* justify-content: start; */

    /*Space between two childs of parent*/
    gap:20px;
}